
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portal de Notas</h1>

<br />
<br />
<label>Nombre del Estudiante:</label>
<br />
<label>@ViewBag.nombre</label>
<br />
<label>Laboratorio #1:</label>
<br />
<label>@ViewBag.Lab1</label>
<br />
<label>Laboratorio #2:</label>
<br />
<label>@ViewBag.Lab2</label>
<br />
<label>Laboratorio #3:</label>
<br />
<label>@ViewBag.Lab3</label>
<br />
<label>Parcial #1:</label>
<br />
<label>@ViewBag.par1</label>
<br />
<label>Parcial #2:</label>
<br />
<label>@ViewBag.par2</label>
<br />
<label>Parcial #3:</label>
<br />
<label>@ViewBag.par3</label>


<h4>Promedio Total:   </h4>
<h4>@ViewBag.total</h4>



